/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0 auto;
  background: black;
  width: 1200px;
  height: 2200px;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav div p {
  color: white;
  font-weight: 700;
}

header {
  padding: 20px;
  height: 1000px;
  background: rgb(102,118,138);
}


header * {
  color: rgb(230, 230, 230);
}


header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

header nav > * {
  width: 15%;
  margin: 20px 0;
  text-align: center;
}

.htext {
  display: flex;
  justify-content: space-around;
  
}

.htext p {
  text-transform: uppercase;
  margin: 5px;
  align-items: center;
}

/* header nav  *{
  margin-top: 0;
} */

header nav div a {
  color: rgb(127, 134, 154);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  background: rgb(230, 230, 230);
  padding: 10px;
  font-weight: 700;

}


header > h1 {
  font-size: 5.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  
}

header > p {
  text-align: center;
  margin: 50px 10px;
  font-size: 2.5em;
  font-weight: 400;
}

header p + p {
  margin: 108px 0;
}

.hspan  em{
  text-align: center;
  display: block;
  color: rgb(54, 53, 53);
  margin-top: 30px;
  font-size: 1.5em;
}

.fa-sharp {
  font-size: 1em;
  padding: 10px;
}
.section1 {
  background: rgb(255,255,255);
  color: black;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.section1 * {
  margin: 20px;
}

.section1 >  h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 800;
}

.section1 > p {
  margin: 0 200px;
  font-size: 1.5em;
}

.section2 {
  background: rgb(219,223,226);
  display: flex;
  justify-content: space-around;
  height: 700px;
}

.section2 > div {
  width: 40%;
  text-align: center;
  padding: 100px 20px;

}

.section2 div > .box {
  height: 200px;
  width: 80%;
  background-color: rgb(127, 134, 154);
  margin: 0 auto;
}

.section2 div > h3 {
  font-size: 2em;
  margin: 20px auto;
  text-transform: uppercase;
}

.section2 div > p {
  font-size: 1.5em;
  margin-bottom: 95px;
}

.section2 div > a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 30px 90px;
  margin: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

.section3 {
  background: rgb(255,255,255);
  height: 480px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section3 * {
  margin: 20px;
}

.section3 > h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 800;
}

.section3 > p {
  text-align: center;
  width: 70%;
  font-size: 1.5em;
}

.section3 > a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px 50px;
  color: black;
}

footer {
  background: rgb(22,31,42);
  height: 350px;
  padding: 30px;
}
footer p {
  color: rgb(230, 230, 230);
}

footer span {
  color: rgb(100, 99, 99);
  display: block;
}

.f1 {
  font-size: 48px;
  color: white;
}

.f1 * {
  margin: 0 10px;
}

.footer-f1 {
  display: flex;
  justify-content: space-between;
}

.footer-f1  > * {
  max-width: 280px;
}

.footer-deep {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 800;
}

.footer-last {
  display: flex;
  justify-content: space-between;
}

.footer-last p {
  font-weight: 800;
  font-size: 1.5em;
}

.ff2 {
  padding: 10px 0;
}



.ff2 span {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 500;
}

hr {
  margin: 15px 0;
}

.ff1 > h5 {
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
} 

.ff1 > span {
  color: rgb(135, 132, 132);
  font-size: 1.5em;
}

.ff1 > p {
  color: white;
  font-weight: 800;
  font-size: 1.5em;
} 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
